@charset "utf-8";
#csstest {
	background-color: #FFC;
	height: 400px;
	width: 260px;
	padding: 6px;
}
 @media all and (min-device-width: 768px) {
#csstest {
	background-color: #CFF;
	height: 260px;
	width: 400px;
	margin:auto;
}
}
