@charset "utf-8";
/* CSS Document */
students {
	display: table;
	border-collapse: collapse;
	margin: auto;
	margin-top: 20px;
}
student {
	display: table-row;
	line-height: 24px;
}
sn, name, sex, nation, address, profession {
	display: table-cell;
	border: 1px solid;
	padding: 6px;
}
